export GOOGLE_APPLICATION_CREDENTIALS="<FILL IN HERE>"
export DESTINATION_SCHEMA="<FILL IN HERE>"
export DESTINATION_TABLE="<FILL IN HERE>"

export GCP_PROJECT_ID="<FILL IN HERE>"
export GCP_ZONE_ID="<FILL IN HERE>"
export GCP_VM_NAME="<FILL IN HERE>"
export GCP_IP_ADDRESS="<FILL IN HERE>"